# --- Python ---
__pycache__/
*.py[cod]
venv/

# --- Data (不上传大檔案) ---
data/*.csv
data/*.json
data/*.html
!data/example_input.csv  # (選用) 如果你想留一個範例檔給別人看，可以用 ! 排除

# --- Spark / Java ---
derby.log
metastore_db/

# --- OS ---
.DS_Store

*.log
.venv/

.env

# --- 文件 ----

doc/
logs/
outputs/